SixthProject/.idea/inspectionProfiles/Project_Default.xml
SixthProject/.idea/gradle.xml
SixthProject/.idea/gradle.xml
SixthProject/.idea/gradle.xml
SearchBar/.idea/misc.xml
SearchBar/.idea/gradle.xml
SearchBar/.idea/gradle.xml
SearchBar/.idea/deploymentTargetSelector.xml
NavDrawerMaterial3/.idea/inspectionProfiles/Project_Default.xml
